{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAP</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
<div class="row">
<div class="col-2"></div>
<div class="col-8">
<div class="card">

  <div class="card-body">
      <h5 class="card-title">Your session ID is <strong>{{ session_id }}</strong></h5>
      <h5 class="card-title mb-0">Please, save it somewhere!</h5>
  </div>
</div>

<!--<p>Your session ID is {{ session_id }}</p>
<p>You have to transfer your old coins to this address {{ addr1 }} </p>-->

{% if balance_not_null %}
    <div class="alert alert-success mt-3" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Found transaction for {{ balance_com }} COM</p>
    <p class="mb-0">This balance is equivalent to {{ balance_com2 }} SYZ</p>
    </div>

    <div class="mt-4">
    <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">

        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}

      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mb-4">Send</button>


    </form>
    </div>
{% else %}
    <div class="card mt-3">

  <div class="card-body">
      <p class="card-text">You have to transfer your old coins to this address <strong>{{ addr1 }}</strong></p>
      <p class="card-text">No confirmed transactions for {{ time }}</p>
      <a href="{% url 'monitor_balance' %}" class="btn btn-primary">Update status</a>
  </div>
</div>

{% endif %}
</div>
<div class="col-2"></div>
</div>
</div>
</body>
</html>