{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAP</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <div class="jumbotron">
            <h3>Welcome to the Coin Swap page!</h3>
            <p class="lead mt-4">Here you can swap your COM coins to SYZ coins.</p>
            <p class="lead"><a class="btn btn-primary btn-lg" href="{% url 'generated_id' %}" role="button">Start swap</a></p>
            <hr class="my-4">
            <p>Do you want to restore previous session?</p>
            <a class="btn btn-outline-info" href="{% url 'prev_session' %}" role="button">Restore</a>
        </div>
            </div>
        <div class="col-2"></div>
</div>
</div>
</body>
</html>