{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAP</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
<div class="row">
<div class="col-3"></div>
<div class="col-6">
    <a class="btn btn-outline-info mb-5" href="{% url 'home' %}" role="button">Back</a>
<form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">

        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}

      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mb-4">Send</button>


</form>

</div>
<div class="col-3"></div>
</div>
</div>
</body>
</html>