{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAP</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="mb-2">
  <strong>Statistics</strong>
</div>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Active swaps
    <span class="badge badge-primary badge-pill">{{ active_swaps }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Finished swaps
    <span class="badge badge-primary badge-pill">{{ finished_swaps }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Total coins swapped
    <span class="badge badge-primary badge-pill">{{ total_coins_swapped }}</span>
  </li>
</ul>
    </div>
    <div class="col-3"></div>
</div>
</div>
</body>
</html>