{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAP</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div class="alert alert-success mt-3" role="alert">
                <h4 class="alert-heading">Success!</h4>
                <p class="mb-0">We have transfered {{ balance_com2 }} SYZ to <strong>{{ addr2 }}</strong></p>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="card-text mb-0">The transaction id is {{ tx2 }}</p>
                </div>
            </div>

            <p><a class="btn btn-outline-info mt-5" href="{% url 'new_transaction' %}" role="button">Start new swap</a></p>

        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>