{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAP</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <a class="btn btn-outline-info mb-5" href="{% url 'generated_id' %}" role="button">Back</a>
        <div class="alert alert-danger" role="alert">
  Unknown error
</div>

    </div>
    <div class="col-3"></div>
</div>
</div>
</body>
</html>